.navbar {
    width: 680px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 0 10px 12px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #0000006e;
    margin: auto;

    
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 12px;
    background-color: #235abe;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #0000006e;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a:hover {
    color: #f0d332;
}